ol li {
    background-color: #EBE4B1;
}

ol li:nth-child(2n) {
    color: #186800;
}

ol li:nth-child(2n+1) {
    text-transform: uppercase;
}

.header {
    color: #96271B;
}

.header em {
    font-size: 40px;
    border: 1px solid #030D0A;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

#linguagens li:not(:nth-child(n+4)) {
    color: blue;
} /*Apelei para o gabarito*/

.pink-bg {
    background-color: pink;
} /*Apelei para o gabarito*/

a {
    text-decoration: none;
    color: #687796;
}
/*Daqui até o final, resolvi tudo com ajuda dos colegas e do gabarito*/
#allieds-lst li a:hover{
    font-weight: 700;
} /*Apelei para o gabarito*/

#allieds-lst li a[href*="stackoverflow"]:hover {
    color: orange;
}

#allieds-lst li a[href*="w3schools"]:hover {
    color : #04AA6D; 
}

#allieds-lst li a[href*="mozilla"]:hover {
    color: #000; 
}

#allieds-lst li a[href*="devdocs"]:hover {
    color: yellow;
}

#allieds-lst li a[href*="trybe"]:hover {
    color: #056b51;
}