* {
  background-color: rgb(45, 45, 65);
  color: rgb(210, 210, 190);
}

.form {
  display: flexbox;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#input-age {
  color: rgb(45, 45, 65);
  background-color: rgb(210, 210, 190);
  width: 99%;
}

#text-fav-state {
  color: rgb(45, 45, 65);
  background-color: rgb(210, 210, 190);
  width: 99%;
}

.input-label {
  width: 99%;
}