.box {
  color: #9069EF;
  background-color: rgb(243, 243, 243);
  border: 2px solid #232525;
  font-size: 50px;
  height: 60px;
  margin: 10px 5px;
  text-align: center;
  width: 30%;
}

.box-container {
  background-color: #0fa36b;
  display: flex;
  /* flex-direction: column; //fez os filhos se disporem de cima para baixo, na ordem natural */
  /* flex-direction: column-reverse; //fez os filhos se disporem de cima para baixo, na ordem inversa */
  /* flex-direction: row; //fez os filhos se disporem da esquerda para a direita, na ordem natural (este é o padrão) */
  /* flex-direction: row-reverse; //fez os filhos se disporem da esquerda para a direita, na ordem inversa */
  /* flex-wrap: wrap; //fez os filhos se disporem da esquerda para a direita, na ordem natural, mas quebrou a linha, empurrou 2 elementos para e aumentou o tamanho das caixas */
  /* flex-wrap: nowrap; //fez os filhos se disporem da esquerda para a direita, na ordem natural e não quebrou a linha (este é o padrão) */
  /* flex-wrap: wrap-reverse; //fez os filhos se disporem da esquerda para a direita, na ordem inversa, mas quebrou a linha, empurrou 2 elementos para e aumentou o tamanho das caixas */
  /* flex-flow: column-reverse nowrap; //flex-flow permite configurar flex-wrap e flex-direction juntas */
}