* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  background-color: rgb(247, 247, 247);
}

.header-container {
  background-color: #5C687C;
  display: flex;
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-basis: 268px; /*exercício 1*/
  order: 1; /*exercício 2*/
}

.menu-container {
  display: flex;
  flex-basis: 500px; /*exercício 1*/
  flex-grow: 1; /*exercício 3*/
  order: 2; /*exercício 2*/
}

.menu-container ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-self: center; /*exercício 4*/
}

.menu-container li {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  list-style: none;
  margin-right: 10px;
}