.PokemonsList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Pokemon {
  border: 0.5px solid rgb(35, 35, 45);
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  align-self: center;
  flex-grow: 1;
  margin: 5px;
  flex-flow: row nowrap;
  align-items: flex-start;
}

h1 {
  text-align: center;
}

.pokeData {
  align-self: center;
}

.Pokemon img {
  align-self: center;
  flex-flow: row nowrap;
}
